#container {
  width: 1200px;
}

.column {
  width: 25%;
  float: left;
}

.content {width: 70%;}

body {
  margin: 30px;
  font-family: arial;
  color: white;
  background-color: black;
}

a {
  color: #C1F0F6;
  text-decoration: none;
}

/* media queries */
@media screen and (max-width: 900px) {
  #container {
    width: 100%;
  }
  .column {width: 100%;}
  .content {width: 80%;}
}
